.post-container {
    background-color: #ffffff;
    width: 30rem;
    padding: 1.5rem;
    margin: 1.25rem;
    border-radius: 10px;
    background: linear-gradient(120deg, #ffffff, #e6e6e6);
    box-shadow:  30px 30px 61px #bfbfbf,
             -20px -20px 31px #bfbfbf;
    
}

.post-container:first-of-type {
    margin-top: 18vh;
}

.post-header {
    padding-bottom: 1rem;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0px;
    word-spacing: 2.2px;
}

.post-image {
    width: 30rem;
    height: 25rem;
    object-fit: contain;
    margin: 10px 0;
}

.post-link {
    font-weight: bolder;
    font-size: 2.5rem;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.93);
    text-decoration:none;
}

.post-link:hover {
    animation: link-hover 500ms cubic-bezier( 0.55, 0.085, 0.41, 0.98 ) forwards;
}


.post-votes {
    font-size: 1.5rem;
}

.upvotes-and-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 5px 0;
}

.post-divider {
    border: 1;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}

@keyframes link-hover {
    0% {
        
    }

    100% {
        text-shadow: 0px 3px 7px rgba(41, 41, 41, 1);
    }

}

@media (max-width: 600px) {
    .post-container {
        width: 20rem;
    }

    .post-image {
        width: 20rem;
    }

    .post-votes {
        font-size: 1.25rem;
    }

    .post-link{
        font-size: 1.75rem;;
    }
}

@media (max-width: 400px) {
    .post-container {
        width: 18rem;
    }

    .post-image {
        width: 18rem;
    }

    .post-container:first-of-type {
        margin-top: 25vh;
    }
}

@media (min-width: 800px) {
    .post-container {
        width: 40rem;
    }

    .post-image {
        width: 40rem;
    }

    .post-header {
        font-size: 2rem;
    }

    .post-subreddit {
        font-size: 1.25rem;
    }

}

@media (min-width: 1200px) {
    .post-container {
        width: 50rem;
    }

    .post-image {
        width: 50rem;
    }
}